---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  margin-top: 2rem;
  font-family: 'Libre Baskerville', serif;
}
h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

.profile-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%
}

.icons-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name-container {
  margin-top: .6rem;
}