---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  margin-top: 2rem;
  font-family: 'Libre Baskerville', serif;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%
}

.icons-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name-container {
  margin-top: .6rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  font-size: 1.8rem
}
