<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Libre+Franklin:400,700" rel="stylesheet">
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/foundation.min.css">
    <link rel="stylesheet" media="all" href="./css/main.css" type="text/css">
  </head>
  <body>
    {{ content }}
  </body>
</html>
